html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #232626;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}
body {
  font-family: 'SUIT-Regular', Pretendard;
}
section{
    text-align: center;
}
p{ 
    line-height: 2.2;
    margin-left: 40px;
    font-size: 16px;
    color: white;
    text-align: center;
}
h1{
    text-align: right;
    background-color: none;
    position: fixed;
    top: 0;
    width: 100%;
/*   z-index: 1;
    padding: 15px;*/ 
}
h1.ceiling {
  position: fixed;
  top: 24px;
  right: 24px;   /* ← 오른쪽 벽에서 여백 */
  font-size: 16px;
  cursor: pointer;
}
h2{
    text-align: center;
    color: white;
}
h3{
    margin-left: 40px;
}
/
.fullwrap img {
  position: absolute;
}

.text{
    position: absolute;
  text-align: center;
  font-size: 20px;
}
.text2 {
    position: absolute;
  right: 90px;
  top: 1020px;
  font-size: 13px;
}
.text3{
    position: absolute;
  right: 90px;
  top: 1020px;
  font-size: 13px;
}
.text4{
    position: absolute;
  left: 50px;
  top: 820px;
  font-size: 13px;
  line-height: 1.5;
}
.main{
   text-align: center;
   top:0px;
   width: 100%;
   height: 100%;
}
.one {
    width: 130px;
    position: absolute;
    top: 140px;
    right: 500px;
}
.two {
    width: 65px;
    position: absolute;
    top: 180px;
    right: 325px;
}
.three {
    width: 180px;
    position: absolute;
    top: 245px;
    left: 54px;
}
.four {
    width: 200px;
    position: absolute;
    top: 562px;
    left: 405px;
}
.five {
    width: 300px;
    position: absolute;
    top: 640px;
    right: 200px;
}
.six {
    width: 65px;
    position: absolute;
    top: 200px;
    left: 500px;
}
.circle {
    top:50;
    width: 500px;
}
.circle1{
    width: 200px;
    top: top: 10%; left: 10%; 
}
.circle2{
    width: 300px;
    top: 20%; left: 50%;
}
.circle3{
    width: 100px;
    top: 60%; left: 20%;
}
.circle4{
    width: 350px; 
     top: 60%; left: 60%;
}
.circle5{
    width: 250px;
    top: 25%; left: 75%;
}
.circle7{
    width: 400px;
    top: 50%; left: 35%;
}
.circle8{
    width: 700px;
}
.circle9{
    width: 650px;
}
.circle10{
    width: 500px;
}
.circle11{
    top: 300px;
    right: 100px;
}
.square1 { 
    width: 33.3%;
}
.square2 { 
    width: 33.3%;
}
.square3 {
    width: 33.3%;
}
.square4 {
    width: 33.3%;
}
.img-row {
    display: flex;
    width: 100%;
}

.square5,
.square6 {
    width: 50%;
}
.square8{
    width: 50%;
}
.curve{
    width: 50%;
}
.curve1{
    top:0;
    width: 50%;
    right: 100px;
}
.curve2{
    width: 50%;
}
.curve3{
    width: 50%;
    margin: 0;
    display: block;
    vertical-align: bottom;
}
.curve4{
    width: 50%;
}
.curve5{
    width: 50%;
}
.curve6{
    width: 50%;
}
.curve7{
    width: 50%;
}
.curve8{
    width: 50%;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;   /* 좌/우 2개 */
    grid-auto-rows: 100vh;            /* 한 줄 = 화면 전체 높이 */
    width: 100%;
    height: auto;
}

.grid-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;                /* 화면 꽉 채우기 */
}

.line1{
    width: 50%;
}
.line3{
    width: 50%;
}
.line4{
    width: 50%;
}
.line5{
    width: 50%;
}
.line6{
    width: 50%;
}
.line7{
    width: 50%;
}
.line8{
    width: 50%;
}
.line9{
    width: 50%;
}
.depth1{
    width: 50%;
}
.depth2{
    width: 50%;
}
.depth3{
    width: 50%;
}
.depth4{
    width: 50%;
}
.depth5{
    width: 50%;
}
.depth6{
    width: 50%;
}
.depth7{
    width: 50%;
}
.depth8{
    width: 50%;
}
.depth9{
    width: 50%;
}
.depth10{
    width: 50%;
}

.pattern1{
    width: 50%;
}
.pattern2{
    width:50%;
}
.pattern3{
    width: 50%;
}
.pattern4{
    width: 50%;
}
.pattern5{
    width:50% ;
}
.pattern6{
    width: 50%;
}
.pattern7{
    width: 50%;
}
.pattern8{
    width: 50%;
}
a {
    color: #BAB9A4;
    text-decoration: none;
    text-decoration-thickness: 1px;
}
a:hover {
    color: white;
}
@media screen and (max-width: 900px) {
    section{
        width: 100%;
        height: 33.3%;
    }
   .main{
    width: 100%;
   } 
  .one{
    top:20px;
    left: 100px;
    width: 15%;
  }
  .two{
    top: 150px;
    width: 10%
  }
    .three{
    left: 0;
    top: 383px;
    width: 50%;
  }
  .four{
    left: 50%;
    top: 383px;
    width: 50%;
  }
  .five{
    width: 20%;
    top: 100px;
    left: 300px;
  }
  .six{
    left: 200px;
  }
}

@media (max-width: 375px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
